## One-dimensional indexing

To demonstrate zero-based indexing in Python, we'll use a _list_.

Lists are one type of a _collection of data_ in Python which is created by placing items inside square brackets, like so:

In [1]:
boroughs = ['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

boroughs

['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

This looks an awful lot like a range of cells.

To access a given element in a list, we can index it by its position using this notation:

`list_name[index_position]`

Let's attempt to reproduce our one-dimensional `INDEX()` in Python:

![One-dimensional indexing in Excel](https://raw.githubusercontent.com/stringfestdata/images-for-web-embeds/main/one-dimensional-indexing-excel.png)

In [2]:
# Get third element in boroughs list
boroughs[3]

'Queens'

That's *not* what we wanted... it returned the fourth element in the list:

In [3]:
boroughs

['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

Why?  

#### Because Python starts counting at *zero*.

Let's try it again:

In [4]:
# Get third element in boroughs list... really!
boroughs[2]

'Manhattan'

A little awkward, but nice work.

## Two-dimensional

To get a tabular data structure consisting of rows and columns in Python, we'll use the DataFrame object from `pandas`:

In [5]:
import pandas as pd

# intialise data of lists.
data = {'borough':['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
        'population':[1418207, 2559903, 1628706, 2253858, 476143],
        'land_area':[42.1, 70.82, 22.83, 108.53, 58.37]}
  
# Create DataFrame
nyc = pd.DataFrame(data)
  
# Print the output.
nyc

         borough  population  land_area
0      The Bronx     1418207      42.10
1       Brooklyn     2559903      70.82
2      Manhattan     1628706      22.83
3         Queens     2253858     108.53
4  Staten Island      476143      58.37

If you would like to learn more about how packages work, such as how to import them, and how to approach `pandas` further as an Excel user, check out my book, [*Advancing into Analytics: From Excel to Python and R*](http://georgejmount.com/book/).

To index a DataFrame we can use `iloc`. The notation works similarly to that of lists, except in two dimensions:

`df.iloc[row_position, col_position]`

Like lists, DataFrames are **indexed starting at zero**.

Knowing that let's reproduce this two-dimensional `INDEX()` in Python:

![Two-dimensional indexing in Excel](https://raw.githubusercontent.com/stringfestdata/images-for-web-embeds/main/two-dimensional-indexing-excel.png)

In [6]:
# Second row, third column
nyc.iloc[1, 2]

70.82

# ðŸ¥³ Nice work! 

Zero-based indexing can certainly feel unintuitive. But when you feel like you've lost your footing, go back to the file download example as a time you've seen it in real life.

Now let's go back to the blog post to finish this off.